/* 默认dark主题 */

/* 浅色模式 */
@media (prefers-color-scheme: light) {
  :root {
    --app-header-background-color: #222;
    --app-header-color: #fff;
    --app-navbar-background-color: #fff;
    --app-navbar-color: #222;
    --app-navbar-border-color: #f0f0f0;
    --app-page-background-color: #fafafa;
    /* 选项卡波浪色 */
    --app-tabs-ware-depp-color: #f34141;
    --app-tabs-ware-color: #fbe7e6;
  }
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
  :root {
    --app-header-background-color: #222;
    --app-header-color: #fff;
    --app-navbar-background-color: #333;
    --app-navbar-color: #fff;
    --app-navbar-border-color: #000;
    --app-page-background-color: #333;
  }
}
