// 定义css变量

// 版心宽度
$contentWidth: 1248px;

// 价钱颜色
$priceColor: rgb(246, 52, 52);
// 价钱边框颜色
$priceBorderColor: rgb(242, 195, 194);
// 选项卡主题色
$tabs-color: #f34141;
// 选项卡波浪色
$tabs-ware-color: #fbe7e6;

// 边框
@mixin border($color: rgba(0, 0, 0, 0.06), $width: 1) {
  border-width: $width;
  border-color: $color;
  border-style: solid;
}

// 上边框
@mixin borderTop($color: rgba(0, 0, 0, 0.06), $width: 1) {
  border-top-width: $width;
  border-top-color: $color;
  border-top-style: solid;
}

// 下边框
@mixin borderBottom($color: rgba(0, 0, 0, 0.06), $width: 1) {
  border-bottom-width: $width;
  border-bottom-color: $color;
  border-bottom-style: solid;
}

// 左边框
@mixin borderLeft($color: rgba(0, 0, 0, 0.06), $width: 1) {
  border-left-width: $width;
  border-left-color: $color;
  border-left-style: solid;
}

// 右边框
@mixin borderRight($color: rgba(0, 0, 0, 0.06), $width: 1) {
  border-right-width: $width;
  border-right-color: $color;
  border-right-style: solid;
}
